@import "../global/variables.scss";

.application-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 204px;
  list-style: none;
}

.application-list__link {
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}
