@import "../global/variables.scss";

.application-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 204px;
  list-style: none;
}

.application-list__link {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.application-list__icon {
  margin-left: -5px;
}

.application-list__item:not(:last-child) {
  margin-right: 38px;
}
