@import "../global/variables.scss";

.comment-filter {
  box-sizing: border-box;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 31px 58px 44px;
    border: 2px solid $color-dark-grey;
    border-radius: 1px;
  }

  @media (min-width: $desktop-width) {
    padding: 28px 58px 36px;
  }
}

.comment-filter__title {
  padding-bottom: 15px;
  width: 240px;

  @include font(normal, 14px, 18px, 0.4px);
  color: $color-highlight;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    width: 260px;

    @include font(normal, 14px, 30px, 0.4px);
  }
}

.comment-filter__textarea {
  box-sizing: border-box;
  padding: 14px 20px;
  width: 280px;
  min-height: 201px;
  letter-spacing: 0.4px;

  @include font(normal, 18px, 30px, 0.4px);
  color: $color-blue-opaco;
  text-align: left;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  resize: none;

  @include input-states;

  @media (min-width: $tablet-width) {
    width: 500px;
    min-height: 193px;
  }

  @media (min-width: $desktop-width) {
    width: 820px;
    min-height: 128px;
  }
}
