@import "../global/variables.scss";

.comment-filter {
  box-sizing: border-box;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 47px 60px 53px 60px;
    border: 2px solid $color-dark-grey;
    border-radius: 1px;
  }

  @media (min-width: $desktop-width) {
    padding: 44px 60px;
  }
}

.comment-filter__title {
  padding-bottom: 22px;
  width: 240px;

  @include font(normal, 14px, 18px);
  color: $color-highlight;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    width: 260px;

    @include font(normal, 14px, 30px);
  }
}

.comment-filter__textarea {
  box-sizing: border-box;
  padding: 20px;
  width: 276px;
  height: 197px;

  @include font(normal, 18px, 30px);
  color: $color-blue-opaco;
  text-align: left;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  resize: none;

  @media (min-width: $tablet-width) {
    width: 496px;
    height: 189px;
  }

  @media (min-width: $desktop-width) {
    width: 816px;
    height: 124px;
  }
}
