@import "../global/variables.scss";

.contacts {
  min-width: 320px;
  background-color: $color-white;
}

.contacts__text {
  @include font(lighter, 24px, 29px);
  color: $color-blue-opaco;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 44px;
    margin-bottom: 33px;

    @include font(lighter, 40px, 54px);
  }

  @media (min-width: $desktop-width) {
    @include font(lighter, 50px, 68px);
  }
}

.contacts__map-wrapper {
  position: relative;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-width: 320px;
  height: 200px;
  background-image: url("../../img/map-mobile.jpg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    height: 374px;
    background-image: url("../../img/map-tablet.jpg");
  }

  @media (min-width: $desktop-width) {
    height: 502px;
    background-image: url("../../img/map-desktop.jpg");
  }

  &::before {
    z-index: 2;
    position: absolute;
    content: "";
    bottom: 167px;
    left: 50%;
    margin-left: -600px;
    width: 1200px;
    height: 123px;
    background-image: url("../../img/triangle-white-footer-mobile.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      bottom: 306px;
      width: 1200px;
      height: 123px;
      background-image: url("../../img/triangle-white-footer-tablet.svg");
    }

    @media (min-width: $desktop-width) {
      bottom: 399px;
      margin-left: -720px;
      width: 1439px;
      height: 123px;
      background-image: url("../../img/triangle-white-footer-desktop.svg");
    }
  }
}
