@import "../global/variables.scss";

.contacts-filter {
  box-sizing: border-box;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 30px 60px 21px;
    border: 2px solid $color-dark-grey;
    border-radius: 1px;
  }

  @media (min-width: $desktop-width) {
    width: 816px;
    padding: 28px 60px 7px;
  }
}

.contacts-filter__title {
  display: none;

  @include font(normal, 14px, 30px, 0.4px);
  color: $color-highlight;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: block;
    width: 255px;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.contacts-filter__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.contacts-filter__item {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    width: 371px;

    &:not(:last-child) {
      margin-right: 74px;
    }
  }
}

.contacts-filter__item:not(:last-child) {
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    padding-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.contacts-filter__item--phone {
  position: relative;

  @media (min-width: $tablet-width) {
    ::before {
      position: absolute;
      content: "";
      top: 2px;
      right: 2px;
      width: 59px;
      height: 59px;
      background-color: $color-dark-grey;
      background-image: url("../../img/icon-phone.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.contacts-filter__item--mail {
  position: relative;

  @media (min-width: $tablet-width) {
    ::before {
      position: absolute;
      content: "";
      top: 2px;
      right: 2px;
      width: 59px;
      height: 59px;
      background-color: $color-dark-grey;
      background-image: url("../../img/icon-mail.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.contacts-filter__lable {
  margin-left: 23px;
  margin-bottom: 5px;

  @include font(normal, 14px, 30px, 0.4px);
  color: $color-highlight;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    order: 2;
    margin-top: 11px;
    margin-left: 17px;
  }
}

.contacts-filter__input {
  flex-grow: 1;
  width: 100%;
  height: 63px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: 0 65px 0 22px;

  @include font(normal, 18px, 30px, 0.4px);
  color: $color-blue-opaco;
  border: 2px solid $color-dark-grey;
  border-radius: 1px;

  @include input-states;

  @media (min-width: $tablet-width) {
    order: 1;
    padding-left: 17px;
  }
}
