@import "../global/variables.scss";

.control-radio {
  position: relative;

  &:hover {
    .control-radio__mark {
      border-color: $color-blue-opaco;
    }
  }

  &:active {
    .control-radio__mark {
      border-color: $color-highlight;
    }
  }

  &:focus-within {
    .control-radio__mark {
      outline: none;
      border-color: $color-highlight;
    }
  }
}

.control-radio__label {
  padding-left: 59px;

  @include font(normal, 18px, 30px);
  color: $color-blue-opaco;
}

.control-radio__mark {
  position: absolute;
  width: 37px;
  height: 37px;
  top: -14px;

  background-color: $color-white;
  border: 2px solid $color-dark-grey;
  border-radius: 50%;
}

.control-radio__input:checked + .control-radio__mark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -7px;
  width: 15px;
  height: 15px;
  background-color: $color-highlight;
  border-radius: 50%;
  content: "";
}
