@import "../global/variables.scss";

.contacts {
  background-color: $color-white;
}

.contacts__text {
  @include font(lighter, 24px, 29px);
  color: $color-blue-opaco;
  text-align: center;
}

.contacts__image-wrapper {
  position: relative;

  &::after {
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    top: 97px;
    left: 144px;
    border: 10px solid $color-white;
    border-radius: 50%;
    background-color: $color-highlight;
    content: "";
  }
}
