.download-wrapper {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  min-width: 320px;
  background-color: $color-blue;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    width: 300px;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: 0;
    padding: 0;
    min-width: 300px;
  }
}
