@import "../global/variables.scss";

.download {
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 300px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 130px;
    width: 940px;
  }
}

.download__title {
  margin: 0 auto 0 auto;
  padding-top: 29px;
  padding-bottom: 25px;
  width: 280px;

  @include font(lighter, 24px, 29px);
  color: $color-white;

  @media (min-width: $tablet-width) {
    padding-top: 102px;
    width: 240px;

    @include font(lighter, 40px, 48px);
  }

  @media (min-width: $desktop-width) {
    margin-left: 35px;
    padding-top: 95px;

    @include font(lighter, 50px, 68px);
  }
}

.download__button {
  margin: 20px auto 0 auto;

  @media (min-width: $tablet-width) {
    z-index: 2;
    margin-top: 0;
  }
}

.download__list {
  margin: 0 auto;
  padding: 32px 0 0 0;

  @media (min-width: $tablet-width) {
    z-index: 2;
    padding-top: 50px;
  }
}

.download__description {
  margin: 0;
  padding: 10px 0 38px 0;

  @include font(lighter, 14px, 24px);
  text-align: center;

  @media (min-width: $tablet-width) {
    z-index: 2;
    padding-top: 38px;

    @include font(lighter, 18px, 24px);
  }

  br {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 300px;
  }
}

.download__img-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  height: 286px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 660px;
    height: 545px;
  }

  @media (min-width: $desktop-width) {
    bottom: 0;
    right: 0;
    width: 1050px;
    height: 645px;
  }
}

.download__img {
  display: block;
  @media (min-width: $tablet-width) {
    width: 660px;
    height: 545px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    height: 645px;
  }
}
