@import "../global/variables.scss";

.download {
  text-align: center;
}

.download__title {
  margin: 0 auto 0 auto;
  padding-top: 95px;
  padding-bottom: 25px;
  width: 280px;

  @include font(lighter, 24px, 29px);
  color: $color-white;
}

.download__button {
  margin-top: 20px;
}

.download__list {
  margin: 0 auto;
  padding: 32px 0 0 0;
}

.download__description {
  margin: 0;
  padding: 10px 0 38px 0;

  @include font(lighter, 14px, 24px);
  text-align: center;
}

.download__img {
  width: 320px;
  height: 286px;
}
