@import "../global/variables.scss";

.filter {
  min-width: 320px;
  background-color: $color-white;
}

.filter__information {
  margin: 0 auto;
  padding-top: 44px;
  width: 280px;

  @include font(normal, 14px, 30px, 0.2px);
  color: $color-blue-opaco;
  text-align: center;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin-left: auto;
    margin-right: auto;
    padding-top: 91px;
    width: 490px;

    @include font(normal, 18px, 30px, 0.3px);

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 756px;
  }
}

.filter__information-desktop {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}
