@import "../global/variables.scss";

.full-name-filter {
  padding: 0;
  border: none;
}

.full-name-filter__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $desktop-width) {
    padding-top: 20px;
  }
}

.full-name-filter__item {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
  }
}

.full-name-filter__item:not(:last-child) {
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    padding-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 53px;
  }
}

.full-name-filter__lable {
  margin-left: 23px;
  margin-bottom: 5px;

  @include font(normal, 14px, 30px, 0.4px);
  color: $color-highlight;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 5px 19px 0 0;
  }
}

.full-name-filter__input {
  flex-grow: 1;
  padding-left: 21px;
  height: 63px;
  box-sizing: border-box;

  @include font(normal, 18px, 30px, 0.4px);
  color: $color-blue-opaco;
  border: 2px solid $color-dark-grey;
  border-radius: 1px;

  @include input-states;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
  }
}
