@import "../global/variables.scss";

.information__intro {
  margin-left: auto;
  margin-right: auto;

  @include font(lighter, 24px, 29px);
  color: $color-blue-opaco;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include font(lighter, 40px, 54px);
  }

  @media (min-width: $desktop-width) {
    @include font(lighter, 50px, 68px);
  }
}

.information__intro-description-2 {
  margin: 0;
}
