@import "../global/variables.scss";

.information__intro {
  margin-left: auto;
  margin-right: auto;

  @include font(lighter, 24px, 29px);
  color: $color-blue-opaco;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include font(lighter, 40px, 54px);
  }

  @media (min-width: $desktop-width) {
    @include font(lighter, 50px, 68px);
  }
}

.information__intro-description-1 {
  margin: 39px 0 0;

  @media (min-width: $tablet-width) {
    margin: 47px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 63px 0 0;
  }
}

.information__intro-description-2 {
  margin: 29px 0 0 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 18px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 61px 0;
  }
}
