@import "../global/variables.scss";

.main-nav {
  @include font(lighter);
  color: $color-white;

  @media (min-width: $desktop-width) {
    position: relative;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 130px;
    padding-right: 130px;
    min-height: 110px;
    background-color: transparentize($color-black, 0.7);
  }
}

.main-nav__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  min-height: 66px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    min-height: 110px;
    padding-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
    justify-content: flex-start;
    background-color: transparent;
  }
}

.main-nav__toggle {
  position: relative;
  margin-left: auto;
  padding: 0;
  width: 50px;
  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__list {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.main-nav--closed .main-nav__list {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.main-nav--opened .main-nav__list {
  position: absolute;
  display: block;

  @media (min-width: $desktop-width) {
    position: static;
    display: flex;
  }
}

.main-nav--closed .main-nav__toggle {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 4px;
    background-color: $color-white;
    border-radius: 1px;
    box-shadow: 0 10px 0 0 $color-white, 0 20px 0 0 $color-white;
  }

  &:hover {
    &::before {
      background-color: $color-highlight;
      box-shadow: 0 10px 0 0 $color-highlight, 0 20px 0 0 $color-highlight;
    }
  }

  &:active {
    &::before {
      background-color: transparentize($color-highlight, 0.7);
      box-shadow: 0 10px 0 0 transparentize($color-highlight, 0.7),
        0 20px 0 0 transparentize($color-highlight, 0.7);
    }
  }
}

.main-nav--opened .main-nav__toggle {
  width: 23px;
  height: 23px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    left: -3px;
    width: 29px;
    height: 3px;
    background-color: $color-white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    &::before,
    &::after {
      background-color: $color-highlight;
    }
  }

  &:active {
    &::before,
    &::after {
      background-color: transparentize($color-highlight, 0.7);
    }
  }
}

.main-nav--opened .main-nav__header {
  box-shadow: 0 1px 0 $color-black;
  background-color: $color-blue-opaco;

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.main-nav--nojs {
  position: static;
  display: block;

  .main-nav__list {
    display: block;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  .main-nav__toggle {
    display: none;
  }
}
