@import "../global/variables.scss";

.main-header {
  z-index: 2;
  position: relative;

  @include font(lighter);
  color: $color-white;
  background-color: $color-blue;

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.main-header__logo {
  display: flex;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
