@import "../global/variables.scss";

.main-header {
  z-index: 2;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  width: auto;

  @include font(lighter);
  color: $color-white;
  background-color: transparentize($color-black, 0.7);

  @media (min-width: $tablet-width) {
    min-width: 660px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1200px;
    background-color: transparent;
  }
}

.main-header__logo-mobile {
  display: block;
  fill: $color-white;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-header__logo-tablet {
  display: none;
  fill: $color-white;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-header__logo-desktop {
  display: none;
  fill: $color-white;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.main-header__logo-desktop-red {
  fill: $color-highlight;
}

.main-header__logo {
  display: flex;
  margin: 0;
  padding: 0;
  text-decoration: none;


  &:hover .main-header__logo-mobile {
    fill: $color-highlight;
  }

  &:active .main-header__logo-mobile {
    fill: transparentize($color-white, 0.7);
  }

  @media (min-width: $tablet-width) {
    align-items: baseline;

    &:hover .main-header__logo-tablet {
      fill: $color-highlight;
    }

    &:active .main-header__logo-tablet {
      fill: transparentize($color-white, 0.7);
    }
  }

  @media (min-width: $desktop-width) {
    align-items: baseline;

    &:hover .main-header__logo-desktop {
      fill: $color-highlight;
    }

    &:active .main-header__logo-desktop {
      fill: transparentize($color-white, 0.7);
    }

    &:active .main-header__logo-desktop-red {
      fill: transparentize($color-white, 0.7);
    }
  }
}
