@import "../global/variables.scss";

.modal-failure {
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  min-height: 289px;
  background-color: $color-white;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  border-radius: 1px;

  @media (min-width: $tablet-width) {
    width: 460px;
    min-height: 363px;
    border-radius: 5px;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
    min-height: 377px;
  }
}

.modal-failure__wrapper {
  padding: 0 20px 0 20px;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    margin-right: auto;
    padding: 49px 65px 0 65px;
    width: 296px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 50px;
    width: 350px;
  }
}

.modal-failure__wrapper-secondary {
  box-sizing: border-box;
  padding: 40px 20px 0 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 54px;
    width: 296px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 780px;
    min-height: 163px;
    background-color: $color-grey;
  }
}

.modal-failure__title {
  margin: 0;
  padding-top: 40px;

  @include font(bold, 18px, 24px);
  color: $color-black;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    width: 290px;

    @include font(bold, 30px, 40px);
  }

  @media (min-width: $desktop-width) {
    width: 350px;
  }
}

.modal-failure__text {
  margin: 0;
  padding-top: 30px;

  @include font(normal, 14px, 24px);
  color: $color-blue-opaco;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    width: 290px;

    @include font(normal, 18px, 24px);
  }

  @media (min-width: $desktop-width) {
    width: 350px;
  }
}
