@import "../global/variables.scss";

.os-name-filter {
  box-sizing: border-box;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 54px 0 54px 60px;
    border: 2px solid $color-dark-grey;
    border-radius: 1px;
  }
}

.os-name-filter__title {
  padding-bottom: 40px;
  width: 240px;

  @include font(normal, 14px, 18px);
  color: $color-highlight;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-left: -25px;
    padding-bottom: 0;
    width: 318px;

    @include font(normal, 14px, 30px);
  }
}

.os-name-filter__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.os-name-filter__item:not(:last-child) {
  padding-bottom: 38px;
}
