@import "../global/variables.scss";

.os-name-filter {
  box-sizing: border-box;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 45px 0 56px 56px;
    border: 2px solid $color-dark-grey;
    border-radius: 1px;
  }

  @media (min-width: $desktop-width) {
    padding: 45px 0 58px 72px;
  }
}

.os-name-filter__title {
  padding-bottom: 40px;
  width: 240px;

  @include font(normal, 14px, 18px, 0.4px);
  color: $color-highlight;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-left: -27px;
    margin-right: 0;
    padding-bottom: 0;
    width: 368px;

    @include font(normal, 14px, 30px, 0.4px);
  }

  @media (min-width: $desktop-width) {
    margin-left: -41px;
    margin-right: 0;
    padding-bottom: 0;
    width: 368px;
  }
}

.os-name-filter__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.os-name-filter__item:not(:last-child) {
  padding-bottom: 45px;
}
