@import "../global/variables.scss";

.page-footer {
  min-width: 320px;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    min-height: 127px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 130px;
    min-height: 197px;
  }
}

.page-footer__logo-mobile {
  display: block;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-footer__logo-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.page-footer__logo-mobile-black,
.page-footer__logo-desktop-black {
  fill: $color-blue-opaco;
}

.page-footer__logo-mobile-red,
.page-footer__logo-desktop-red {
  fill: $color-highlight;
}

.page-footer__logo {
  display: flex;
  align-items: baseline;

  &:hover .page-footer__logo-mobile-black,
  &:hover .page-footer__logo-desktop-black {
    fill: $color-highlight;
  }

  &:active .page-footer__logo-mobile-black,
  &:active .page-footer__logo-desktop-black {
    fill: transparentize($color-blue-opaco, 0.7);
  }

  &:active .page-footer__logo-mobile-red,
  &:active .page-footer__logo-desktop-red {
    fill: transparentize($color-highlight, 0.7);
  }

  @media (min-width: $tablet-width) {
    margin-top: -16px;
  }
}

.page-footer__list {
  margin: 0;
  padding: 38px 0 33px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.page-footer__copyright-logo {
  margin-left: 14px;
  fill: $color-highlight;
}

.page-footer__copyright-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;

  @include font(normal, 14px, 16px);
  color: $color-blue-opaco;
  text-decoration: none;

  &:hover {
    .page-footer__copyright-logo {
      fill: $color-blue-opaco;
    }
  }

  &:active {
    .page-footer__copyright-logo {
      fill: transparentize($color-blue-opaco, 0.7);
    }
  }

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    margin: 0;
    margin-left: -1px;
  }

  @media (min-width: $desktop-width) {
    @include font(normal, 18px, 18px);
  }
}

.page-footer__copyright-text {
  letter-spacing: 0.4px;
}
