@import "../global/variables.scss";

.plan {
  width: 1112px;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    width: 616px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.plan__tariff {
  padding: 0;
  height: 94px;
  background-color: $color-blue-opaco;
  border-top: none;
  border-bottom: none;
  border-left: 2px solid $color-grey;
  border-right: 2px solid $color-grey;

  @media (min-width: $tablet-width) {
    height: 75px;
  }

  @media (min-width: $desktop-width) {
    height: 94px;
  }
}

.plan__tariff:last-child {
  border-right: 2px solid $color-blue-opaco;
}

.plan__tariff:first-child {
  border-left: 2px solid $color-blue-opaco;
}

.plan__empty {
  background-color: $color-grey;
  border-right: 2px solid $color-blue-opaco;
}

.plan__empty,
.plan__tariff {
  width: 276px;

  @media (min-width: $tablet-width) {
    width: 152px;
  }

  @media (min-width: $desktop-width) {
    width: 233px;
  }
}

.plan__name {
  margin-top: 0;
  margin-bottom: 0;

  @include font(bold, 16px, 30px);
  color: $color-white;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    text-transform: none;
  }

  @media (min-width: $desktop-width) {
    @include font(bold, 18px, 30px);
    text-transform: none;
  }
}

.plan__main-feature-name {
  @media (min-width: $tablet-width) {
    text-transform: none;

    @include font(normal, 14px, 30px);
  }

  @media (min-width: $desktop-width) {
    text-transform: none;

    @include font(normal, 18px, 30px);
  }
}

.plan__secondary-feature-name {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.plan__cost {
  margin-top: 0;

  @include font(lighter, 18px, 30px);
  color: $color-white;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    @include font(lighter, 24px, 30px);
  }
}

.plan__main-feature-name,
.plan__secondary-feature-name {
  margin: 0;
  padding: 0 0 0 20px;
}

.plan__feature,
.plan__feature-pink-base,
.plan__feature-pink-standart,
.plan__feature-pink-unlim,
.plan__feature-smiles-base,
.plan__feature-smiles-standart,
.plan__feature-smiles-unlim,
.plan__feature-comments-base,
.plan__feature-comments-standart,
.plan__feature-comments-unlim {
  padding: 0;
  width: 276px;
  height: 59px;

  @include font(normal, 14px, 30px);
  color: $color-blue-opaco;
  text-transform: uppercase;
  background-color: $color-white;
  border: 2px solid $color-dark-grey;

  @media (min-width: $tablet-width) {
    width: 152px;
    height: 45px;
  }

  @media (min-width: $desktop-width) {
    width: 233px;
    height: 59px;
  }
}

.plan__feature,
.plan__feature-pink-base,
.plan__feature-pink-standart,
.plan__feature-pink-unlim {
  border-top: 2px solid $color-blue-opaco;
}

.plan__feature:first-child {
  border-top: 2px solid $color-dark-grey;
}

.plan__feature-yes {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 17px;
    margin-top: -10px;
    width: 31px;
    height: 21px;
    background-image: url("../../img/yes.png");

    @media (min-width: $tablet-width) {
      top: 50%;
      right: 50%;
      margin-top: -10px;
      margin-right: -16px;
    }
  }
}

.plan__feature-no {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 19px;
    margin-top: -13px;
    width: 27px;
    height: 27px;
    background-image: url("../../img/no.png");

    @media (min-width: $tablet-width) {
      top: 50%;
      right: 50%;
      margin-top: -13px;
      margin-right: -16px;
    }
  }
}

.plan__tariff--border-left-blue {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: -2px;
    width: 27px;
    height: 27px;
    border-top: 2px solid $color-blue-opaco;
    border-left: 2px solid $color-blue-opaco;
    border-radius: 4px;
    box-shadow: -5px -5px 0 0 $color-grey;
    background-color: transparent;
  }
}

.plan__tariff--border-right-blue {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: -2px;
    width: 27px;
    height: 27px;
    border-top: 2px solid $color-blue-opaco;
    border-right: 2px solid $color-blue-opaco;
    border-radius: 4px;
    box-shadow: 5px -5px 0 0 $color-grey;
    background-color: transparent;
  }
}

.plan__feature--border-left-grey {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: -2px;
    left: -2px;
    width: 27px;
    height: 27px;
    border-top: 2px solid $color-dark-grey;
    border-left: 2px solid $color-dark-grey;
    border-top-left-radius: 4px;
    box-shadow: -5px -5px 0 0 $color-grey;
    background-color: transparent;
  }
}

.plan__feature--border-left-bottom-grey {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    bottom: -2px;
    left: -2px;
    width: 27px;
    height: 27px;
    border-bottom: 2px solid $color-dark-grey;
    border-left: 2px solid $color-dark-grey;
    border-bottom-left-radius: 4px;
    box-shadow: -5px 5px 0 0 $color-grey;
    background-color: transparent;
  }
}

.plan__feature--border-right-bottom-grey {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    bottom: -2px;
    right: -2px;
    width: 27px;
    height: 27px;
    border-bottom: 2px solid $color-dark-grey;
    border-right: 2px solid $color-dark-grey;
    border-bottom-right-radius: 4px;
    box-shadow: 5px 5px 0 0 $color-grey;
    background-color: transparent;
  }
}
