@import "../global/variables.scss";

.post-photo {
  display: grid;
  grid-template-rows: max-content max-content;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.post-photo__picture {
  display: block;

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 300px;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    height: 400px;
  }
}

.post-photo__comment {
  display: block;
  box-sizing: border-box;
  padding: 18px 10px 18px 17px;
  width: 280px;
  background-color: $color-grey;

  @media (min-width: $tablet-width) {
    padding: 23px 30px;
    width: 300px;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    padding-left: 27px;
  }
}

.post-photo__name {
  margin: 0;

  @include font(bold, 14px, 24px);
  color: $color-blue-opaco;
}

.post-photo__time {
  @include font(lighter, 12px, 24px);
  text-transform: uppercase;
}

.post-photo__comment-text {
  margin-top: 0;
  margin-bottom: 11px;

  @include font(normal, 14px, 24px, 0.3px);
  color: $color-blue-opaco;
}

.post-photo__likes {
  position: relative;
  padding-left: 31px;
  margin: 0;

  @include font(normal, 12px, 24px, 0.3px);
  color: $color-highlight;
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: "";
    top: 5px;
    left: 0;
    width: 13px;
    height: 12px;
    background-image: url("../../img/heart.svg");
    cursor: pointer;
  }

  @media (min-width: $tablet-width) {
    padding-left: 0;
    margin-top: auto;

    &::before {
      position: absolute;
      content: "";
      top: 5px;
      left: auto;
      right: 0;
      width: 13px;
      height: 12px;
      background-image: url("../../img/heart.svg");
    }
  }
}
