@import "../global/variables.scss";

.post-panorama {
  display: grid;
  grid-template-rows: max-content max-content;
  width: 100%;
  overflow: hidden;
}

.post-panorama__wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.post-panorama__button {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
  width: 140px;
  min-height: 36px;

  @include font(bold, 12px, 24px);
  color: $color-white;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: $color-highlight;
  border: none;

  &:hover {
    background-color: transparentize($color-highlight, 0.3);
  }

  &:active {
    background-color: transparentize($color-highlight, 0.7);
  }
}

.post-panorama__comment {
  display: block;
  box-sizing: border-box;
  padding: 25px 10px 25px 17px;
  min-height: 192px;
  background-color: $color-grey;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 443px 117px;
    grid-template-rows: max-content;
    padding-left: 30px;
    padding-right: 30px;
    min-height: 121px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 763px 119px;
    grid-template-rows: max-content;
    min-height: 96px;
  }
}

.post-panorama__name {
  margin: 0;

  @include font(bold, 14px, 24px);
  color: $color-blue-opaco;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
  }
}

.post-panorama__time {
  @include font(lighter, 12px, 24px);
  text-transform: uppercase;
}

.post-panorama__comment-text {
  @include font(normal, 14px, 24px);
  color: $color-blue-opaco;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    padding: 0;
    margin: 0;

    br {
      display: none;
    }
  }
}

.post-panorama__likes {
  position: relative;
  padding-left: 31px;
  margin: 0;

  @include font(normal, 12px, 24px);
  color: $color-highlight;
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: "";
    top: 5px;
    left: 0;
    width: 13px;
    height: 12px;
    background-image: url("../../img/heart.svg");
  }

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    padding: 0;

    &::before {
      position: absolute;
      content: "";
      top: 5px;
      left: auto;
      right: 2px;
      width: 13px;
      height: 12px;
      background-image: url("../../img/heart.svg");
    }
  }
}
