@import "../global/variables.scss";

.prices-slider {
  padding-top: 103px;
  padding-bottom: 45px;
}

.prices-slider__plan {
  transform: translateX(-535px);

  @media (min-width: $tablet-width) {
    transform: none;
  }

  @media (min-width: $desktop-width) {
    transform: none;
  }
}

.prices-slider__toggle {
  padding: 0;
  width: 6px;
  height: 6px;
  border: none;
  border-radius: 50%;
  background-color: transparentize($color-blue-opaco, 0.7);
  cursor: pointer;
}

.prices-slider__toggle:not(:last-child) {
  margin: 0 19px 0 0;
}

.prices-slider__toggle--current {
  width: 12px;
  height: 12px;
  background-color: $color-white;
  border: 3px solid $color-blue-opaco;
}
