@import "../global/variables.scss";

.prices {
  min-width: 320px;
  background-color: $color-white;
  background-image: url("../../img/grey-background/grey-background-2-mobile.png");
  background-repeat: no-repeat;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    background-image: url("../../img/grey-background/grey-background-2-tablet.png");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/grey-background/grey-background-2-desktop.png");
  }
}

.prices__plan {
  padding-top: 103px;
  padding-bottom: 50px;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    margin-right: auto;
  }
}

.prices__toggles {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 45px;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
