@import "../global/variables.scss";

.research {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    background-color: $color-grey;
  }
}

.research__wrapper {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-top: 54px;
    margin-left: auto;
    margin-right: auto;
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin-top: 0;
    padding-top: 54px;
    padding-bottom: 50px;
    width: 940px;
    background-color: $color-grey;
  }
}

.research__image {
  display: block;

  @media (min-width: $desktop-width) {
    width: 298px;
    height: 345px;
  }
}

.research__image-text {
  position: absolute;
  left: 10%;
  top: -28px;

  @include font(bold, 96px, 163px);
  color: $color-highlight;

  @media (min-width: $desktop-width) {
    left: 8%;
    top: 40px;

    @include font(bold, 120px, 163px);
  }
}

.research__description {
  @media (min-width: $tablet-width) {
    width: 300px;
    margin-top: 50px;
    margin-left: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 534px;
    margin-top: 50px;
    margin-left: 70px;
  }
}

.research__title {
  @media (min-width: $tablet-width) {
    @include font(bold, 30px, 36px);
    color: $color-black;
  }

  @media (min-width: $desktop-width) {
    @include font(bold, 30px, 30px);
    color: $color-black;

    br {
      display: none;
    }
  }
}

.research__text {
  color: $color-blue-opaco;

  @media (min-width: $tablet-width) {
    @include font(normal, 14px, 24px);
  }

  @media (min-width: $desktop-width) {
    @include font(normal, 18px, 30px);
  }
}

.research__show-more {
  color: $color-highlight;

  &:hover {
    color: $color-black;
    text-decoration: underline;
  }

  &:active {
    opacity: 0.3;
    text-decoration: none;
  }

  @media (min-width: $tablet-width) {
    @include font(normal, 14px, 24px);
  }

  @media (min-width: $desktop-width) {
    @include font(normal, 18px, 30px);
  }
}
