@import "../global/variables.scss";

.research {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    padding-top: 14px;
    background-color: $color-grey;
  }
}

.research__wrapper {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-top: 54px;
    margin-left: auto;
    margin-right: auto;
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin-top: 0;
    padding-top: 54px;
    padding-bottom: 67px;
    width: 940px;
    background-color: $color-grey;
  }
}

.research__image {
  display: block;

  @media (min-width: $desktop-width) {
    width: 298px;
    height: 345px;
  }
}

.research__image-text {
  position: absolute;
  left: 10%;
  top: -24px;

  @include font(bold, 96px, 163px);
  color: $color-highlight;

  @media (min-width: $desktop-width) {
    left: 9%;
    top: 44px;

    @include font(bold, 120px, 163px);
  }
}

.research__description {
  @media (min-width: $tablet-width) {
    width: 300px;
    margin-top: 12px;
    margin-left: 72px;
  }

  @media (min-width: $desktop-width) {
    width: 534px;
    margin-top: 64px;
    margin-left: 72px;
  }
}

.research__title {
  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    @include font(bold, 30px, 36px);
    color: $color-black;
  }

  @media (min-width: $desktop-width) {
    @include font(bold, 30px, 30px);
    color: $color-black;

    br {
      display: none;
    }
  }
}

.research__text {
  color: $color-blue-opaco;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin-top: 11px;
    margin-bottom: 9px;

    @include font(normal, 14px, 24px, 0.3px);

    .research__text-br-tablet {
      display: block;
    }

    .research__text-br-desktop {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 26px;
    margin-bottom: 31px;

    @include font(normal, 18px, 30px, 0.4px);

    .research__text-br-desktop {
      display: block;
    }

    .research__text-br-tablet {
      display: none;
    }
  }
}

.research__show-more {
  color: $color-highlight;

  &:hover {
    color: $color-black;
    text-decoration: underline;
  }

  &:active {
    opacity: 0.3;
    text-decoration: none;
  }

  @media (min-width: $tablet-width) {
    @include font(normal, 14px, 24px, 0.3px);
  }

  @media (min-width: $desktop-width) {
    @include font(normal, 18px, 30px, 0.3px);
  }
}
