@import "../global/variables.scss";

.reviews-slider__toggle {
  padding: 0;
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background-color: transparentize($color-blue-opaco, 0.7);
  cursor: pointer;
}

.reviews-slider__toggle:not(:last-child) {
  margin: 0 19px 0 0;
}

.reviews-slider__toggle--current {
  background-color: $color-white;
  border: 3px solid $color-blue-opaco;
}
