@import "../global/variables.scss";

.screen {
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  justify-content: center;
  height: 277px;

  overflow: hidden;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
  }
}

.screen__item {
  position: relative;
  grid-column: 1 / -1;
  grid-row: 1 / -1;

  @media (min-width: $desktop-width) {
    &::before {
      position: absolute;
      content: "";
      bottom: -10px;
      width: 300px;
      height: 17px;
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        #000000 49.8%,
        rgba(0, 0, 0, 0) 93.23%
      );
      opacity: 0.3;
      filter: blur(4px);
    }
  }
}

.screen__item:not(:last-child) {
  @media (min-width: $desktop-width) {
    margin-right: 125px;
  }
}
