@import "../global/variables.scss";

.screen {
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  justify-content: center;
  height: 277px;

  overflow: hidden;

  @media (min-width: $tablet-width) {
    height: 481px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 300px);
    column-gap: 23px;
    height: 301px;
  }
}

.screen__item {
  position: relative;
  grid-column: 1 / -1;
  grid-row: 1 / -1;

  @media (min-width: $desktop-width) {
    grid-column: auto;
    margin-left: auto;
    margin-right: auto;
    width: 300px;

    &::before {
      position: absolute;
      content: "";
      bottom: 72px;
      width: 300px;
      height: 17px;
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        #000000 49.8%,
        rgba(0, 0, 0, 0) 93.23%
      );
      opacity: 0.3;
      filter: blur(4px);
    }
  }
}

.screen__item img {
  display: block;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 547px;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    margin-right: auto;
    width: 186px;
    height: 382px;
  }
}
