@import "../global/variables.scss";

.site-list {
  color: $color-white;
  width: auto;
  margin: 0;
  padding: 0;

  @include font(bold, 18px, 13px);
  text-transform: uppercase;
  list-style-type: none;
  background-color: $color-blue-opaco;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 620px;

    @include font(normal, 18px, 18px);
    text-transform: none;
    background-color: transparent;
  }
}

.site-list__link {
  display: block;
  box-sizing: border-box;
  min-height: 63px;
  padding-top: 25px;
  padding-bottom: 13px;
  text-align: center;
  color: $color-white;
  text-decoration: none;

  &:hover {
    color: $color-highlight;
  }

  &:active {
    color: transparentize($color-highlight, 0.7);
  }

  @media (min-width: $desktop-width) {
    padding-top: 20px;
  }
}

.site-list__item {
  box-sizing: border-box;
  min-height: 63px;
  padding-left: 25px;
  padding-right: 25px;
  box-shadow: 0 1px 0 $color-black,
    inset 0 1px transparentize($color-white, 0.85);

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
    align-self: center;
    background-color: transparent;
    box-shadow: none;
  }
}
