@import "../global/variables.scss";

.upload-filter {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  grid-gap: 35px;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-gap: 14px;
  }
}

.upload-filter__item {
  padding-top: 42px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 12px;
    border-bottom: 1px solid transparentize($color-blue-opaco, 0.9);
  }

  @media (min-width: $desktop-width) {
    border: none;

    &:not(:last-child) {
      border-bottom: 1px solid transparentize($color-blue-opaco, 0.9);
    }
  }
}

.upload-filter__svg-crop,
.upload-filter__svg-fill,
.upload-filter__svg-contrast {
  display: block;
  margin-left: auto;
  margin-right: auto;
  fill: transparentize($color-blue-opaco, 0.7);
}

.upload-filter__image {
  display: block;
  padding: 0;
  margin: 0;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    svg {
      fill: transparentize($color-blue-opaco, 0.5);
    }
  }

  @media (min-width: $tablet-width) {
    svg {
      fill: $color-highlight;
      transform: scale(0.5) translateX(-11px);
    }
    pointer-events: none;
  }

  @media (min-width: $desktop-width) {
    svg {
      transform: none;
    }
  }
}

.upload-filter__image--current {
  pointer-events: none;

  svg {
    fill: $color-highlight;
  }
}

.upload-filter__image--crop {
  grid-column: 1 / 2;
}

.upload-filter__image--fill {
  grid-column: 2 / 3;
}

.upload-filter__image--contrast {
  grid-column: 3 / 4;
}

.upload-filter__crop-range-bar,
.upload-filter__fill-range-bar,
.upload-filter__contrast-range-bar {
  position: absolute;
  height: 2px;
  background-color: $color-blue-opaco;
}

.upload-filter__crop-range-scale,
.upload-filter__fill-range-scale,
.upload-filter__contrast-range-scale {
  position: absolute;
  left: -20px;
  display: none;
  grid-column: 1 / -1;
  margin-top: 39px;
  width: 240px;
  height: 2px;
  background-color: $color-blue-opaco;

  @media (min-width: $tablet-width) {
    position: relative;
    display: block;
    margin-top: 0;
    width: 202px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 11px;
    width: 288px;
  }
}

.upload-filter__crop-range-toggle,
.upload-filter__fill-range-toggle,
.upload-filter__contrast-range-toggle {
  position: absolute;
  width: 14px;
  height: 14px;
  top: -6px;
  background-color: $color-white;
  border-style: none;
  border: 2px solid $color-highlight;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    border: 2px solid transparentize($color-highlight, 0.6);
  }

  &:active {
    border: 2px solid $color-highlight;
    background-color: $color-highlight;
  }
}

.upload-filter__range-scale--current {
  display: block;
}

.upload-filter__crop-range-toggle {
  right: 12.86%;
}

.upload-filter__fill-range-toggle {
  right: 79.69%;
}

.upload-filter__contrast-range-toggle {
  right: 44.54%;
}
