@import "../global/variables.scss";

.upload-filter {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  grid-gap: 35px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }
}

.upload-filter__item {
  padding-top: 42px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 20px 0;
    border-bottom: 1px solid transparentize($color-blue-opaco, 0.9);
  }

  @media (min-width: $desktop-width) {
    border: none;

    &:not(:last-child) {
      border-bottom: 1px solid transparentize($color-blue-opaco, 0.9);
    }
  }
}

.upload-filter__image {
  display: block;
  width: 44px;
  height: 44px;
  background-color: $color-highlight;
}

.upload-filter__image--crop {
  grid-column: 1 / 2;
}

.upload-filter__image--fill {
  grid-column: 2 / 3;
}

.upload-filter__image--contrast {
  grid-column: 3 / 4;
}

.upload-filter__crop-range-bar,
.upload-filter__fill-range-bar,
.upload-filter__contrast-range-bar {
  position: absolute;
  height: 2px;
  background-color: $color-blue-opaco;
}

.upload-filter__crop-range-scale,
.upload-filter__fill-range-scale,
.upload-filter__contrast-range-scale {
  position: absolute;
  left: -20px;
  display: none;
  grid-column: 1 / -1;
  margin-top: 28px;
  width: 240px;
  height: 2px;
  background-color: $color-blue-opaco;

  @media (min-width: $tablet-width) {
    position: relative;
    display: block;
    margin-top: 0;
    width: 202px;
  }

  @media (min-width: $desktop-width) {
    width: 288px;
  }
}

.upload-filter__crop-range-toggle,
.upload-filter__fill-range-toggle,
.upload-filter__contrast-range-toggle {
  position: absolute;
  width: 14px;
  height: 14px;
  top: -7px;
  left: 193px;
  background-color: $color-white;
  border-style: none;
  border: 2px solid $color-highlight;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    left: 160px;
  }
}

.upload-filter__range-scale--current {
  display: block;
}
