@import "../global/variables.scss";

.wrapper-form {
  margin-left: auto;
  margin-right: auto;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}
