@import "../global/variables.scss";

.wrapper-form {
  margin-left: 20px;
  margin-right: 20px;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 130px;
    margin-right: 130px;
    width: 940px;
  }
}
