@import "../global/variables.scss";

.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    min-width: 620px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 130px;
    padding-right: 130px;
    min-width: 940px;
  }
}
